[Unit]
Description=pidesktop sync rtc
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/share/pidesktop/script/pd-rtcsync

[Install]
WantedBy=reboot.target poweroff.target
