[Unit]
Description=PiDesktop Shutdown Restart
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/share/pidesktop/python/pd-restart.py

[Install]
WantedBy=multi-user.target

