[Unit]
Description=PiDesktop Shutdown Reboot Service
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/share/pidesktop/python/pd-shutdown.py

[Install]
WantedBy=reboot.target shutdown.target
